/* You can add global styles to this file, and also import other style files */
.main-container{
  margin-top: 50px;
  margin-bottom: 100px;
}

.poster{
  width: 165px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;
}

.poster-new{
  width: 125px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;
}

.poster img {
  width: 100%;
  display: block; /* Quita lo que sobra de la imagen*/
}

.caption {
  background: rgba(6, 6, 6, 0.38);
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
  margin: 0;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.poster:hover .caption {
  background: rgba(6, 6, 6, 0.81);  
  color: #fff;
  margin: auto 0;
  cursor: pointer;
}

.show-more {
  margin: 0 auto;
}

.div-pic-1{
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out
}

.div-pic-2{
  width: 100%;
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out
}

.div-pic-1:hover, .div-pic-2:hover {
  opacity: .9;
  transform: scale(1.01);
}

.pic-titulo{
  position: absolute;
  bottom: 0px;
  left: 10px;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
